@charset "utf-8";
/* CSS Document */

body
{
	background-image: url(bg.jpg);
	background-size: 100% auto;
	line-height:2em;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma, Geneva, sans-serif ;
	margin-left: 40%;
	color: #38271d;
}

h1{
	color: #1c1815;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	text-shadow:2px 2px 5px  rgba(0,0,0,0.7);
	line-height:1.5em;
}

h2{
	color: #1c1815 ;
	text-transform: lowercase;
	font-size: 24px;
	text-decoration: underline;
	font-variant: small-caps;
	
}

th{
	text-align: center;
}

.tablazat{
	text-align: center;
	font-weight: bold;
	padding: 20px;
}

img
{
	border-radius:30px;	
	box-shadow: 5px 5px 10px 7px rgba(0,0,0,0.7);
	border: solid black 2px;
}

#tartalom
{
	box-shadow: -5px 5px 10px 7px rgba(0,0,0,0.7);
	background-color: white;
	opacity: 70%;
	padding: 20px;
}

.logo{
	width: 40%;
	float: right;
	margin: 1px;
	padding: 15px;
}

li
{
	list-style-position:inside;
	list-style-image: url(icon.png);
	font-size: 20px;
}

p
{
	text-align:justify;
}

p:first-letter
{
	margin-left:20px;
}

a
{
	color:#1c1815;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
	font-weight:800;
}
